body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.screen {
    position: relative;
    .cursor {
        position: absolute;
        display: block;
        background-color: red;
        &:after {
            content: '\00a0';
        }
    }
}
